Source: vyatta-service-ssh
Section: net
Priority: optional
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Build-Depends: debhelper-compat (= 13),
 cpio,
 dh-yang
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/vyatta-service-ssh.git
Vcs-Browser: https://github.com/nudanos/vyatta-service-ssh

Package: vyatta-service-ssh
Architecture: any
Depends: openssh-server,
 ssh,
 libpam-systemd,
 vyatta-cfg,
 vyatta-debian-ssh-server-config,
 ${misc:Depends},
 ${perl:Depends}
Breaks: vyatta-cfg-system (<< 1.6.0)
Replaces: vyatta-cfg-system (<< 1.6.0)
Description: SSH helper scripts
 Scripts to handle configuration of SSH server

Package: vyatta-service-ssh-v1-yang
Architecture: all
Depends: vyatta-service-ssh, ${misc:Depends}, ${yang:Depends}
Conflicts: vyatta-cfg-system (<< 1.6.0),
 vyatta-service-ssh-routing-instance-v1-yang (<< 0.10)
Replaces: vyatta-cfg-system (<< 1.6.0),
 vyatta-service-ssh-routing-instance-v1-yang (<< 0.10)
Description: vyatta-service-ssh-v1 module
 SSH configuration

Package: vyatta-service-ssh-routing-instance-v1-yang
Architecture: all
Depends: vyatta-service-ssh-v1-yang,
 chvrf, ${misc:Depends}, ${yang:Depends}
Conflicts: vyatta-cfg-system (<< 2.0)
Replaces: vyatta-cfg-system (<< 2.0)
Description: vyatta-service-ssh-routing-instance-v1 module
 routing-instance SSH configuration
